
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^php8/(.*) /wp-admin/$1 [QSA,L]
RewriteRule ^php8(.*) /wp-admin/$1 [QSA,L]
RewriteRule ^login(.*) /wp-login.php$1 [QSA,L]
RewriteRule ^login/(.*) /wp-login.php$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress